In [2]:
from sklearn.ensemble import GradientBoostingRegressor
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv("boston.csv")
df

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [3]:
df.isna().sum()

Unnamed: 0    0
CRIM          0
ZN            0
INDUS         0
CHAS          0
NOX           0
RM            0
AGE           0
DIS           0
RAD           0
TAX           0
PTRATIO       0
B             0
LSTAT         0
Price         0
dtype: int64

In [6]:
df

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [8]:
X=df.iloc[:,:-1]
y=df["Price"]
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Price, Length: 506, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=42)

In [10]:
model=GradientBoostingRegressor()

In [14]:
from sklearn.model_selection import GridSearchCV

In [16]:
LR={'loss' : ['squared_error', 'absolute_error', 'huber', 'quantile'],
   'n_estimators':[100,200,300,400],
   'min_samples_split':[2,3,4,5],
   'min_samples_leaf':[1,2,3,4,5]}

In [17]:
clf=GridSearchCV(model,param_grid=LR,n_jobs=-1,cv=5,verbose=2)

In [18]:
clf

GridSearchCV(cv=5, estimator=GradientBoostingRegressor(), n_jobs=-1,
             param_grid={'loss': ['squared_error', 'absolute_error', 'huber',
                                  'quantile'],
                         'min_samples_leaf': [1, 2, 3, 4, 5],
                         'min_samples_split': [2, 3, 4, 5],
                         'n_estimators': [100, 200, 300, 400]},
             verbose=2)

In [20]:
clf.fit(X_train,y_train)

Fitting 5 folds for each of 320 candidates, totalling 1600 fits

GridSearchCV(cv=5, estimator=GradientBoostingRegressor(), n_jobs=-1,
             param_grid={'loss': ['squared_error', 'absolute_error', 'huber',
                                  'quantile'],
                         'min_samples_leaf': [1, 2, 3, 4, 5],
                         'min_samples_split': [2, 3, 4, 5],
                         'n_estimators': [100, 200, 300, 400]},
             verbose=2)

In [21]:
y_pred=clf.predict(X_test)

In [22]:
y_pred

array([23.46088817, 30.88668304, 15.55606257, 23.3648228 , 17.24213726,
       21.32983932, 18.75296947, 15.06012235, 20.85335709, 19.43208295,
       20.87392875, 17.06395164,  6.62473496, 21.75529086, 19.62049015,
       22.57605678, 18.76973545,  8.24119237, 44.96724521, 16.68163455,
       25.4250349 , 25.31299714, 14.26425628, 21.88920417, 15.20924775,
       16.14576121, 21.63264251, 13.83417171, 20.97050642, 21.68870507,
       20.88591392, 23.00090582, 26.44680862, 20.90953095, 13.4608932 ,
       16.38466769, 35.73128971, 19.09260171, 22.70353574, 23.38867552,
       15.93532016, 30.63631355, 44.35473662, 20.28744123, 22.16091521,
       14.42250339, 16.15372763, 23.21705014, 18.13032151, 28.03576528,
       18.6828965 , 35.84904768, 16.22824723, 26.09596445, 47.01579111,
       21.49110306, 15.56313174, 32.20304008, 21.9172306 , 19.03973962,
       24.4505371 , 37.35754893, 31.37485332, 18.6328722 , 23.75107055,
       19.22055747, 14.50923992, 23.61018287, 28.84293994, 14.40899623,
       21.11751013, 31.55185979, 10.55959976, 21.57455481, 21.99401984,
        4.34249405, 20.69019366, 47.1343007 ,  9.89635344, 11.19603747,
       21.18816051, 10.04638937, 20.38463645,  8.87827097, 20.27720624,
       28.17763343, 16.37978014, 23.19202385, 25.25594368, 17.82406307,
       22.929262  ,  7.6707162 , 19.84388174, 18.42586503, 22.25790594,
       20.12024562, 44.77110452,  9.51621853, 12.83578652, 10.53967174,
       20.07399199, 22.83588294, 12.28002225, 20.79429775, 20.53942746,
        9.98530522, 18.88112691, 25.7554767 , 19.46662007, 24.06201368,
        8.52284467, 12.0235268 , 22.112491  , 26.37689002, 32.888543  ,
       15.37765246, 43.71291519, 15.00824384, 21.36778762, 23.67739701,
       19.75638448, 24.07988665,  5.18177376, 20.79796223, 23.44615377,
       22.24837861, 21.77039177, 42.86301015, 18.07129233, 47.29114768,
       18.07421803, 22.41138138, 19.19510885, 19.25947415, 14.10007953,
       19.0850835 , 20.68658067, 34.3374477 , 29.16753024, 15.99494579,
       17.65613349, 23.78246745, 19.07138457, 19.53625266,  5.05095529,
       21.12122275, 17.40698304, 12.86316768, 14.46984479, 43.09454416,
       15.06675959, 17.18161361])

In [23]:
from sklearn.metrics import r2_score
accuracy=r2_score(y_test,y_pred)

In [24]:
accuracy

0.8726145765459332